* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  text-align: center;
}
.header .blue_stripe {
  height: 15px;
  background-color: #0282f9;
}
.header .logo {
  display: inline-block;
  margin: 15px 0;
}
.header .main-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.header .main-nav ul li {
  margin: 0 10px;
}
.header .main-nav ul li a {
  display: inline-block;
  padding: 60px 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 15px;
  border-bottom: 5px solid white;
}
.header .main-nav ul li a.active {
  border-bottom: 5px solid #0282f9;
}
.header .main-nav ul li a.active a {
  color: #0282f9;
}
.header .main-nav ul li a:hover {
  border-bottom: 5px solid #0282f9;
}
.header .main-nav ul li a:hover a {
  color: #0282f9;
}

.main {
  background-color: #1c1c1c;
  position: relative;
}
.main .current-series {
  position: absolute;
  top: -30px;
  left: 330px;
  color: white;
  background-color: #0282f9;
  padding: 20px;
  font-weight: bold;
  font-size: 30px;
}
.main .conta {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 150px 0 75px;
  position: relative;
}
.main .conta .comic-sachet {
  width: calc(16.6666666667% - 10px);
  padding: 5px;
  margin-bottom: 50px;
  color: white;
}
.main .conta .comic-sachet a {
  text-decoration: none;
}
.main .conta .comic-sachet:hover {
  transform: scale(1.02);
}
.main .conta .comic-sachet .comic-cover {
  width: 100%;
  display: block;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  margin-bottom: 20px;
}
.main .conta .comic-sachet .comic-title {
  color: white;
  align-items: center;
}

.jumbo {
  height: 450px;
}
.jumbo img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}