.header {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    img {
        padding: 20px 0;
    }
   
    .main-nav ul {
         display: flex;
         justify-content: center;
         list-style: none;

    }
}