.header{
    text-align: center;

    .blue_stripe{
        height: 15px;
        background-color: #0282f9;
    }

    .logo{
        display: inline-block;
        margin: 15px 0;
    }

    .main-nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;

        li{
            margin: 0 10px;
            a{
                display: inline-block;
                padding:  60px 15px;
                text-decoration: none;
                text-transform: uppercase;
                color: black;
                font-size: 15px;
                border-bottom: 5px solid white;

                &.active {
            a {
                color: #0282f9;
            }
            border-bottom: 5px solid #0282f9;
        }
        &:hover {
            a {
                color: #0282f9;
            }
            border-bottom: 5px solid #0282f9;
        }
            }
        }
    }
}